#page_elem{
    background-image: url(../../img/elem/bg.png);
}

#page_elem .desc{
    position: relative;
    height: 18em;
    top: 2.4em;
    background-image: url(../../img/elem/desc.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#page_elem .touch-guide{
    position: relative;  
    height: 2em;    
    top: 4.8em;  
    background-image: url(../../img/elem/touch_guide.png);  background-size: contain;  background-repeat: no-repeat;  background-position: center;
}

#page_elem #icns{
    position: relative;  
    top: 6.2em;
    width: 25em;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

#page_elem #icns li{
    display: inline-block;
    margin: 1em 13px;
    cursor: pointer;
}

#page_elem #icns li img{
    width: 6em;
}



/*상세 페이지 가이드*/
#page_elem_info{
    background-image: url(../../img/elem/bg.png);
}

#page_elem_info .title{
    position: relative;
    height: 10em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#page_elem_info .elem_icn{
    position: relative;
    height: 4em;  
    top: 1.2em;
    background-size: contain;  background-repeat: no-repeat;  background-position: center;
}

#page_elem_info .elem_desc{
    position: relative;  
    
    height: 20em;    
    top: 1.2em;  
    background-size: contain;  
    background-repeat: no-repeat;  
    background-position: center;
}

#page_elem_info #next{
    position: relative;
    padding: 1.2em;
    width: 280px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    top: 0px;
}

#page_elem_info #next img{
    float: right;
    width: 40px;
    cursor: pointer;
}

#page_elem_info[elem=e1] .title{
    background-image: url(../../img/elem/elem_info/e1_title.png);
}
#page_elem_info[elem=e2] .title{
    background-image: url(../../img/elem/elem_info/e2_title.png);
}
#page_elem_info[elem=e3] .title{
    background-image: url(../../img/elem/elem_info/e3_title.png);
}
#page_elem_info[elem=e4] .title{
    background-image: url(../../img/elem/elem_info/e4_title.png);
}
#page_elem_info[elem=e5] .title{
    background-image: url(../../img/elem/elem_info/e5_title.png);
}
#page_elem_info[elem=e6] .title{
    background-image: url(../../img/elem/elem_info/e6_title.png);
}

#page_elem_info[elem=e1] .elem_icn{
    background-image: url(../../img/elem/icn/e1.png);
}
#page_elem_info[elem=e2] .elem_icn{
    background-image: url(../../img/elem/icn/e2.png);
}
#page_elem_info[elem=e3] .elem_icn{
    background-image: url(../../img/elem/icn/e3.png);
}
#page_elem_info[elem=e4] .elem_icn{
    background-image: url(../../img/elem/icn/e4.png);
}
#page_elem_info[elem=e5] .elem_icn{
    background-image: url(../../img/elem/icn/e5.png);
}
#page_elem_info[elem=e6] .elem_icn{
    background-image: url(../../img/elem/icn/e6.png);
}

#page_elem_info[elem=e1] .elem_desc{
    background-image: url(../../img/elem/elem_info/e1_desc.png);
}
#page_elem_info[elem=e2] .elem_desc{
    background-image: url(../../img/elem/elem_info/e2_desc.png);
}
#page_elem_info[elem=e3] .elem_desc{
    background-image: url(../../img/elem/elem_info/e3_desc.png);
}
#page_elem_info[elem=e4] .elem_desc{
    background-image: url(../../img/elem/elem_info/e4_desc.png);
}
#page_elem_info[elem=e5] .elem_desc{
    background-image: url(../../img/elem/elem_info/e5_desc.png);
}
#page_elem_info[elem=e6] .elem_desc{
    background-image: url(../../img/elem/elem_info/e6_desc.png);
}






/*요소 실습*/
#page_elem_practice,
#page_elem_practice_result{
    background-image: url(../../img/elem/bg.png);
}

#page_elem_practice .guide,
#page_elem_practice_result .guide{
    position: relative;
    height: 3.0em;
    /* top: 1em; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#page_elem_practice #canvas,
#page_elem_practice_result #canvas{
    position: relative;    
    top: 1.2em;
    width: 285px;
    height: 400px;
    margin: 0 auto;
}

#page_elem_practice #canvas canvas,
#page_elem_practice_result #canvas #paper{
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    background-size: contain;  background-repeat: no-repeat;  background-position: center;
    -moz-box-shadow: 0 0 5px #888;  -webkit-box-shadow: 0 0 5px#888;  box-shadow: 0 0px 7px #888;
}

#page_elem_practice #icn_ctn,
#page_elem_practice_result #icn_ctn{
    bottom: 1em;
    right: 1em;
}

#page_elem_practice #canvas #eraser{
    position: absolute;
    font-size: 1.2em;
    width: 285px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    text-align: right;
    right: 10px;
    top: 5px;
    color: #383838;
}

#eraser span{
    background: url(../../img/elem/elem_practice/eraser.png) no-repeat;
    
    width: 45px;
    height: 45px;
    display: inline-block;
    background-size: contain;
    cursor: pointer;
    cursor: pointer;
}

#page_elem_practice[elem=e1] .guide,
#page_elem_practice_result[elem=e1] .guide{
    background-image: url(../../img/elem/elem_practice/e1_guide.png);   
}

#page_elem_practice[elem=e2] .guide,
#page_elem_practice_result[elem=e2] .guide{
    background-image: url(../../img/elem/elem_practice/e2_guide.png);   
}

#page_elem_practice[elem=e3] .guide,
#page_elem_practice_result[elem=e3] .guide{
    background-image: url(../../img/elem/elem_practice/e3_guide.png);   
}

#page_elem_practice[elem=e4] .guide,
#page_elem_practice_result[elem=e4] .guide{
    background-image: url(../../img/elem/elem_practice/e4_guide.png);   
}

#page_elem_practice[elem=e5] .guide,
#page_elem_practice_result[elem=e5] .guide{
    background-image: url(../../img/elem/elem_practice/e5_guide.png);   
}

#page_elem_practice[elem=e6] .guide,
#page_elem_practice_result[elem=e6] .guide{
    background-image: url(../../img/elem/elem_practice/e6_guide.png);   
}

#page_elem_practice_result{}


#sidebar{
    position: fixed;
    right: -150px;
    top: 40%; 
    background: #222021;
    opacity: 0.8;
    width: 14em;
    height: 100px;
    cursor: pointer;
    z-index: 1; 

    transition: right 0.4s ease; 
    -webkit-transition: right 0.4s ease-in-out;
       -moz-transition: right 0.4s ease-in-out;
        -ms-transition: right 0.4s ease-in-out;
         -o-transition: right 0.4s ease-in-out;
            transition: right 0.4s ease-in-out;
}

#sidebar.open{
    right: 0px;
}

#sidebar .arrow-btn{
    background: url(../../img/elem/sidebar_arrow.png) no-repeat;
    height: 100%;
    display: inline-block;
    width: 15px;
    background-position: 4px 30px;
    /* margin-left: 0px; */
    float: left;
    background-size: contain;
}

#sidebar ul{
    position: relative;
    height: 100%;
    width: 153px;
    display: inline-block;
    float: right;
}

#sidebar ul li{
    display: inline-block;
    position: relative;
}

#sidebar ul li.divider{
    width: 12px;
    background: url(../../img/elem/sidebar_divider.png) no-repeat;
    height: 100%;
    background-size: contain;
    background-position: center;
}

#sidebar ul li.menu{
    height: 100%;
    width: 52px;
    /* top: 0px; */
}

#sidebar ul li.others:after{
    content: '다른예제보기';
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 23px;
    top: 12px;
    text-align: center;
}

#sidebar ul li.answer:after{
    content: '정답보기';
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 23px;
    top: 25px;
    text-align: center;
}

#sidebar ul li.return:after{
    content: '다른요소보기';
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 23px;
    top: 12px;
    text-align: center;
}


